<div class="content-container">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#announcements">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#events">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#certificates">Certificates</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade show active" id="announcements">
            <!-- Announcements content -->
        </div>
        <div class="tab-pane fade" id="events">
            <!-- Events content -->
        </div>
        <div class="tab-pane fade" id="certificates">
            <!-- Certificates content -->
        </div>
    </div>
</div>